.order-list-container {
  width: 100vw;
  height: 100%;
  background-color: #f6f6f6;

  .card {
    width: calc(100vw - 60rpx);
    height: fit-content;
    margin: 20rpx 30rpx;
    padding: 30rpx;
    background-color: #fff;
    border-radius: 30rpx;

    .order-info-container {
      height: fit-content;

      .store-info {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        align-content: center;

        .store-image {
          width: 40rpx;
          height: 40rpx;
          border-radius: 100rpx;
          overflow: hidden;

          .image {
            width: 100%;
            height: 100%;
          }
        }

        .store-name {
          padding: 0 0 0 16rpx;
          font-size: 30rpx;
          line-height: 40rpx;
          color: #555;
        }

        .fa {
          margin-left: 12rpx;
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex-shrink: 0;
          font-size: 36rpx;
          color: #555;
        }

        .order-status {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: auto;

          view:first-child {
            width: fit-content;
            height: fit-content;
            font-size: 28rpx;
            color: #f4756b;
          }
        }
      }

      .commodity-info {
        width: 100%;
        height: fit-content;
        padding: 40rpx 0 0 0;

        .commodity-container {
          width: 100%;
          height: fit-content;
          margin-bottom: 50rpx;
          display: flex;
          flex-direction: row;

          .commodity-image-container {
            width: 15vw;
            height: 15vw;
            flex-shrink: 0;
            border-radius: 16rpx;
            overflow: hidden;

            .commodity-image {
              width: 100%;
              height: 100%;
              background-color: #f1f1f1;

              image {
                width: 100%;
                height: 100%;
              }
            }
          }

          .commodity-info-container {
            padding: 0 20rpx;
            white-space: nowrap;
            overflow: hidden;
            display: flex;
            flex-direction: column;

            .commodity-name {
              font-size: 28rpx;
              color: #444;
              text-overflow: ellipsis;
              overflow: hidden;
            }

            .commodity-description {
              margin-top: auto;
              font-size: 24rpx;
              color: #aaa;
              white-space: initial;
              overflow: initial;
            }
          }

          .commodity-price-container {
            flex-shrink: 0;
            margin-left: auto;
            padding-left: 30rpx;
            display: flex;
            flex-direction: column;
            text-align: right;

            .commodity-price {
              display: flex;
              flex-direction: row;
              line-height: 36rpx;

              .origin-price {
                margin-right: 10rpx;
                font-size: 26rpx;
                text-decoration: line-through;
                color: #aaa;
              }

              .discount-price {
                font-size: 30rpx;
                color: #333;
              }
            }

            .commodity-amount {
              margin-top: auto;
              font-size: 26rpx;
              color: #aaa;
            }
          }
        }

        .commodity-container:last-child {
          margin-bottom: 0;
        }

        .order-price-container {
          width: 100%;
          font-size: 28rpx;

          .row {
            display: flex;
            flex-direction: row;
            margin-top: 20rpx;

            .title {
              flex-shrink: 0;
              margin-right: 50rpx;
              color: #888;
            }

            .content {
              margin-left: auto;
              display: flex;
              flex-direction: row;
              color: #333;

              .btn {
                width: fit-content;
                height: fit-content;
                margin: 10rpx 0 10rpx 20rpx;
                padding: 10rpx 24rpx;
                font-size: 28rpx;
                line-height: unset;
                border-radius: 100rpx;
              }

              .btn__solid {
                background-color: #f4756b;
                color: #fff;
                border: 2rpx solid transparent;
              }

              .btn__light {
                background-color: #fff;
                color: #f4756b;
                border: 2rpx solid #f4756b;
              }
            }
          }

          .row:first-child {
            margin-top: 0;
          }

          .total-price-container {
            width: 100%;
            margin-top: 30rpx;
            font-size: 26rpx;
            text-align: right;
            color: #555;

            .total-price-description {
              display: flex;
              flex-direction: row;
              width: fit-content;
              margin-left: auto;
              font-size: 26rpx;
              line-height: 50rpx;
            }

            .price {
              width: fit-content;
              margin-left: 10rpx;
              font-size: 32rpx;
              font-weight: bold;
              color: #333;
              line-height: 48rpx;
            }
          }
        }
      }
    }
  }

  .empty {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .row {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 8rpx 0;
      font-size: 26rpx;
      color: #888;
    }

    .btn {
      width: fit-content;
      height: fit-content;
      margin: 10rpx 0 10rpx 20rpx;
      padding: 10rpx 24rpx;
      font-size: 28rpx;
      line-height: unset;
      border-radius: 100rpx;
      background-color: #f4756b;
      color: #fff;
    }
  }

  .safe-area {
    height: 30rpx;
    height: calc(30rpx + constant(safe-area-inset-bottom));
    height: calc(30rpx + env(safe-area-inset-bottom));
  }
}