.select-school-container {
  width: 100vw;
  height: 100%;
  padding: 30rpx 0;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;

  .select-container {
    width: 100%;
    height: fit-content;
    padding: 0 40rpx;
    border-radius: 30rpx;
    background-color: #fff;

    .select-row {
      width: 100%;
      min-height: 100rpx;
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: nowrap;
      font-size: 30rpx;

      .row-title {
        flex-shrink: 0;
        color: #555;
      }

      .row-content {
        max-width: 60vw;
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: flex-end;
        margin-left: auto;
        overflow: hidden;
        color: #333;

        .content {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .fas {
          font-size: 30rpx;
          margin-left: 20rpx;
          color: #aaa;
        }
      }
    }
  }

  .confirm-button-container {
    width: 100%;
    height: fit-content;
    padding: 0 50rpx;
    padding-bottom: 30rpx;
    padding-bottom: calc(30rpx + constant(safe-area-inset-bottom));
    padding-bottom: calc(30rpx + env(safe-area-inset-bottom));
    margin-top: auto;

    .btn__default {
      width: 100%;
      height: 80rpx;
      background-color: #f46b6b;
      border-radius: 100rpx;
      text-align: center;
      color: #fff;
      line-height: 80rpx;
      transition-property: opacity;
      transition-duration: 500ms;
    }

    .btn_disabled {
      background-color: rgba(244, 107, 107, 0.7);
    }
  }
}

::v-deep {
  .u-drawer-content, .u-picker-header, .u-datetime-picker {
    border-radius: 30rpx;
  }
}