.user-search-container {
  width: 100%;
  height: fit-content;
  padding: 30rpx 0 20rpx 0;

  .input-container {
    width: 100%;
    height: 70rpx;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    padding: 0 40rpx;

    .input {
      width: calc(100% - 90rpx);
      height: 100%;
      flex-shrink: 0;
      display: flex;
      flex-direction: row;
      padding: 0 20rpx;
      background-color: #f1f1f1;
      border-radius: 50rpx;
      overflow: hidden;
      transition-property: width;
      transition-duration: 500ms;

      .fa {
        margin-right: 20rpx;
        font-size: 36rpx;
        line-height: 70rpx;
        color: #aaa;
      }

      input {
        width: 100%;
        height: 70rpx;
        font-size: 28rpx;
        line-height: 70rpx;
        color: #333;
      }
    }

    .cancel-btn {
      width: 90rpx;
      height: 100%;
      padding-left: 30rpx;
      font-size: 30rpx;
      color: #888;
      line-height: 70rpx;
      overflow: hidden;
      transition-property: opacity;
      transition-duration: 500ms;
      transition-delay: 500ms;
    }
  }
}

.result-container {
  width: 100%;
  height: 100%;

  .result-scroll-view {
    width: 100%;
    height: 100%;

    ::-webkit-scrollbar {
      width: 0;
      height: 0;
      color: transparent;
    }

    .user-container {
      width: 100%;
      height: fit-content;
      padding: 24rpx 40rpx;
      display: flex;
      flex-direction: row;

      .img-container {
        width: 12vw;
        height: fit-content;
        flex-shrink: 0;

        .image {
          width: inherit;
          height: 12vw;
          overflow: hidden;
          background-color: #f6f6f6;
          border-radius: 50%;
        }
      }

      .user-info {
        width: 100%;
        height: 12vw;
        padding: 0 24rpx;
        display: flex;
        flex-direction: column;
        justify-content: center;
        white-space: nowrap;
        overflow: hidden;

        .username {
          font-size: 30rpx;
          color: #000;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        .description {
          padding-top: 6rpx;
          font-size: 24rpx;
          color: #888;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      .focus-btn {
        width: fit-content;
        height: 12vw;
        margin-left: auto;
        flex-shrink: 0;
        display: flex;
        align-items: center;

        .btn__default {
          width: fit-content;
          min-width: 120rpx;
          padding: 8rpx 20rpx;
          display: flex;
          flex-direction: row;
          align-items: center;
          font-size: 26rpx;
          color: #fff;
          text-align: center;
          border-radius: 50rpx;
          border: 2rpx solid #f4756b;
          background-color: #f4756b;
          transition-duration: 150ms;
          transition-property: color, background-color, border;

          .fas {
            margin-right: 10rpx;
            font-size: 24rpx;
          }
        }

        .btn__friend {
          color: #777;
          background-color: #f6f6f6;
          border: 2rpx solid #f6f6f6;
        }
      }
    }

    .load-more, .no-result {
      height: fit-content;
      width: 100%;
      margin-top: 30rpx;
      padding-bottom: 70rpx;
      background-color: #fff;
      border-radius: 30rpx;
      color: $uni-text-color-placeholder;
      font-size: 26rpx;
      text-align: center;

      text {
        margin-left: 10rpx;
      }
    }

    .no-result {
      margin-top: 50rpx;
    }

    .loading-more {
      height: 150rpx;
      padding-bottom: 0;
      margin-top: 0;
    }

    .safe-area {
      width: 100%;
      height: 0;
      height: calc(constant(safe-area-inset-bottom));
      height: calc(env(safe-area-inset-bottom));
    }
  }
}