.order-remarks-container {
  .confirm-btn {
    width: calc(100% - 74rpx);
    height: 80rpx;
    margin: 20rpx 36rpx;
    background-color: #f4756b;
    border-radius: 14rpx;
    color: #fff;
    text-align: center;
    line-height: 80rpx;
  }
}